{{/* $root := (cond (eq .Page.Kind "term") (index .Page.RegularPages 0) .) */}}
{{ $root := . }}
{{ $which := (cond (ne $root.Params.thumbnail nil) $root.Params.thumbnail $root.Params.featured_image) }}
{{ if $which }}
    {{ $image := resources.Get $which }}
    {{ if (eq $image nil) }}
        {{ errorf $which }}
    {{ end }}
    {{ $jpg := $image.Resize "500x jpg q90 Lanczos" }}
    {{ $ar := (div $jpg.Width (float $jpg.Height)) }}
    <div class="gallery-grid-item">
        <div class="img-pad">
            <a href="{{ .RelPermalink }}">
                <img src="{{ $jpg.RelPermalink }}"
                    alt="{{ .Params.title }}"
                    style="aspect-ratio: {{ $ar }};" />
                <div class="overlay">
                    <p>{{ .Params.title }}</p>
                    {{- with .Params.description -}}
                    <p><span class="description">{{ . }}</span></p>
                    {{- end -}}
                </div>
            </a>
        </div>
    </div>
{{ else }}
    <div class="gallery-grid-item">
        <a href="{{ .RelPermalink }}">
            <p>{{ .Params.title }}</p>
            {{- with .Params.description -}}
            <p><span class="description">{{ . }}</span></p>
            {{- end -}}
        </a>
    </div>
{{ end }}