<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="preload" href='{{ (resources.Get "css/main.css").RelPermalink }}' as="style" />
<link rel="preload" href="/Inter-Bold-Latin.woff2"  as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/Inter-Regular-Latin.woff2"  as="font" type="font/woff2" crossorigin />
{{ if .Site.Params.favicon }}
    {{ with resources.Get .Site.Params.favicon }}
        <link rel="icon" href="{{ .RelPermalink }}" />
    {{ end }}
{{ else if .Site.Params.logo }}
    {{ with resources.Get .Site.Params.logo }}
        <link rel="icon" href="{{ .RelPermalink }}" />
    {{ end }}
{{ else }}
    <link rel="icon" href="/favicon.ico" />
{{ end }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ if (eq .Page.Layout "search") }}
    <script src='{{ (resources.Get "js/lunr.min.js").RelPermalink }}'></script>
    <script src='{{ (resources.Get "js/search.js").RelPermalink }}'></script>
    <link rel="prefetch" href="/index.json" as="fetch" />
{{ end }}
{{ partial "head/css.html" . }}
{{ partial "head/js.html" . }}

{{ partial "head/opengraph.html" . }}

<script> let FF_FOUC_FIX; </script>

<noscript>
    <style>
        .gallery-grid-item {
            animation-play-state: running;
        }
        .search-noscript {
            display: block;
        }
    </style>
</noscript>