{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="tags-list">
    <h3>{{ $label }}</h3>
    <ul>
      {{- range . }}
      <a href="{{ .RelPermalink }}"><li>{{ .Data.Term }}</li></a>
      {{- end }}
    </ul>
  </div>
{{- end }}
